#main_landing_container{

height: 100%;
z-index: 0;	

}

.landscapeImages{

	position: absolute;
	top:20%;	
	height: 40%;
	width: 80%;
	margin:0px 10%;
}

.largeImg{
	width: 100%;
	height: 100%;
}

.smallPics{
	margin-top: 5%;
	margin-right: 20px;
	width: 20%;
	height: 50%;
}

.landingPageLower{


  position: absolute;
  width: 100%;
  height: 40%;
  top: 60%;
  text-align:center;
  
}

.landingPageButton{
  position: relative;
  
  display: inline-block;
  top:128px;
  
  margin-right: 16px;
  width: 312px;
  height: 176px;
  color: #ebebeb;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);

	

}
