/**
 * CSS variables for use in the fli-flicast.scss file
 *
 * These variables create a single theme for the application.
 *
 * Organization :
 * - TYPES : Variables are separated by type (font-family, font-size, color etc)
 * - NAMES : Are descriptive of the CSS class name they modify
 * - VALUES : All variables below will only be set if they have not be set before.
 *
 * Usage : Variables are used for all colors, font-family and animation speed values. Other variables may be used for
 *         items that are repeated in the styles more than once .
 *
 */


//
//Fonts - used by FLICast
//

$font-base-size : 20px !default;

// $font-family-light   : 'Helvetica Neue Light', 'HelveticaNeue-Light', Helvetica, Arial, sans-serif !default;
// $font-family-medium  : 'Helvetica Neue Medium', 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif !default;
// $font-family-bold    : 'Helvetica Neue Bold', 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif !default;


// Colors
//

$color-flicast-background: #000000;
$color-flicast-blue: #1A80AA;
$color-flicast-yellow: #FF6600;

$color-flicast-lightgray: #333333;
$color-flicast-darkgray: #292929;

$color-flicast-menu-blue: #0C4DA1;
$color-flicast-menu-yellow: #FF6600;
$color-flicast-menu-text-light: #EBEBEB;
$color-flicast-menu-text-dark: #333333;

// These are reasonable FireTV defaults

$color-app-base-bg   : #5a656f ;
$color-app-header-bg : rgba(#000000, 0.1) !default;

$color-overlay-bg   : #000000 !default;
$color-overlay-text : #e8e8e8 !default;

$color-app-dialog-container-bg : rgba(0, 0, 0, 0.8);
$color-app-dialog-bg           : #242527;
$color-app-dialog-border       : #303539;
$color-app-dialog-head-border  : #dadada;
$color-app-dialog-btn-text     : #dadada;
$color-app-dialog-btn-bg       : #393b3d;
$color-dialog-btn-highlight-start : #eca21e;
$color-dialog-btn-highlight-end :  #f0bb58;
$color-dialog-entitlement-text  : #949393;
$color-dialog-entitlement-price : #464646;
$color-dialog-button-hightlight-text : black;

$color-title-text : #e8e8e8 !default;
$color-meta-primary-text : #e8e8e8 !default;
$color-meta-secondary-text: #b9bbbd !default;
$color-description-text : #e8e8e8 !default;
$color-box-shadow : rgba(0,0,0,0.44) !default;

$color-menu-base-bg : rgba(#000000, 0.9) !default;

$color-menu-item-text :  #b9bbbd !default;
$color-menu-item-bg: rgba(#e8e8e8, 0.1) !default;
$color-menu-item-chosen-text    : #e8e8e8 !default;
$color-menu-item-chosen-bg: #3f484f !default;
$color-menu-item-highlight-text: #e8e8e8 !default;
$color-menu-item-highlight-bg: #000000 !default;
$color-menu-item-selected-text: #000000 !default;
$color-menu-item-selected-bg: #ffffff !default;

$color-menu-search-text: #e8e8e8 !default;
$color-menu-search-bg: rgba(#e8e8e8, 0.1) !default;

$color-btn-text: #b9bbbd !default;
$color-btn-bg : #394149 !default;
$color-btn-selected-text: #e8e8e8 !default;
$color-btn-selected-bg: #000000 !default;
$color-btn-selected-border: #ffffff !default;

$color-spinner-bg : #394149 !default;

$color-player-controls-bg: rgba(#000000, 0.8) !default;
$color-timeline-border : #25435a !default;
$color-timeline-bg   : #707070 !default;
$color-playhead-border : #394149 !default;
$color-playhead-bg   : #e8e8e8 !default;

$color-thumbnail-border: #ffffff !default;
$color-time-live-text: #FF704D !default;
$color-time-upcoming-text: #66E066 !default;

// Dimensions
$size-menu-bar-line-height: 2 !default;
$size-menu-bar-collapsed-height: 92px !default;

// Positions
$pos-top-menu-bar-content: 148px !default;
$pos-left-content-position: 120px !default;
$pos-right-menu-bar-arrow-icon: right 40px !default;


// Images
$img-overlay: url('../assets/splash_fhd.jpg') !default;
$img-app-background: url('../assets/bg_fhd.jpg') ;
//$img-springboard-main-pic: url('../assets/splash_fhd.jpg') !default;
//$img-device-linking: url('../assets/linking_full.png') !default;

//Animations
//
$ani-durationspeed-fast  : 0.2s !default;
$ani-durationspeed-med   : 0.25s !default;

$ani-duration-menu-bar-menu : $ani-durationspeed-med !default;
$ani-duration-menu-bar-item  : $ani-durationspeed-med !default;
$ani-duration-maincontent-opacity : $ani-durationspeed-fast !default;
$ani-duration-one-D-container : $ani-durationspeed-med !default;
$ani-duration-shoveler-item : $ani-durationspeed-med !default;

$ani-timedelay-shiner : 4.4s !default;
